{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
    <h2>Here are all the schedules: </h2>
    <div>
        <table>
            <tr>
                <th>Court</th>
                <th>Date</th> 
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            {% for schedules in object_list %}
            <tr>                
                <td>{{ schedules.court }}</td>
                <td>{{ schedules.date }}</td>
                <td>{{ schedules.start_time }}</td>
                <td>{{ schedules.end_time }}</td>
                {% empty %}
                <li>No schedules yet.</li>               
            </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'schedules-add' %}">add a schedule</a>
        </p>
    </div>
{% endblock %}